* {
  	box-sizing: border-box;
}

/** Navbar **/

/** Default settings of the whole navbar**/
/** Border radius sets the corners of the borders to have a radius, which makes them round. **/
.navbar-default {
    background-color: #999999;
    color: #000000;
    border-radius: 0px;
	font-size: 1,2em;
}

/** The navbar-brand alone is not specific enough to override the bootstrap css rule, 
therefore the .navbar-default need to be written in.**/
.navbar-default .navbar-brand {
	color: #000000;
}

.navbar-default .navbar-collapse {
	border-bottom-color: black;
	border-color: black;
	margin-bottom: 0px;
	margin-top: 0px;
}

.navbar-brand {
 font-size: 2em;
}





.text-center {
	color: #000000;
}

#chicken {
	font-size: 2em;
	color: #000000;
	padding: 15px;
}

#really-tall-section {
  	background-color: #999999;
  	border: 0px;
  	height: 2000px;
  	text-align: justify;
  	font-size: 125%;
  	color: #000000;
  	font-family: arial, Helvetica;  
}


 
.visible-xs { 
	background-color: white;
	border: 2px;
	border-color: black;
	margin-top: 1px;
	margin-bottom: 1px;
} 



